.wrapper{
    width: 700px;
    margin: 40px auto;
    height: 500px;
    border: 2px solid black;
    position: relative;
  }

  .wrapper [class|="box"]{
    width: 100px;
    height: 100px;
}

.box-1{
    background-color: hotpink;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: 1s;
    /* transform: scale(2); */
 
   

}
.wrapper:hover .box-1{
    left: 50%;
    top: 50%;
     /* transform: scale(1) translate(-50%,-50%); */
    /* transform: scale(2) translate(-25%,-25%); */
    transform: scale(2) translate(-25%,-25%) rotate(360deg);

}


